<!DOCTYPE html>
<html>
  <body>
    <table>
    {% for key, value in item['keywords'].iteritems() %}
    <tr>
    <th>{{ key }}</th>
    <td>{{ value|map('string')|join(', ') }}</td>
    </tr>
    {% endfor %}
    </table>
  </body>
</html>
